* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;
	height: 300vh;
	position: relative;
}

.modal__cookie-bottom {
	position: fixed;
	display: flex;
	align-items: center;
	width: 95%;
	margin: 0 auto;
	padding: 10px 25px;
	left: 50%;
	bottom: -100px;
	transform: translate(-50%);

	background: #fff0c6;
	border-radius: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.modal__cookie-bottom-active {
	bottom: 25px;
	animation-duration: 2s;
	animation-name: slimeShow;
	animation-timing-function: ease-in-out;
}

.modal__cookie-bottom-accepted {
	bottom: -100px;
	animation-duration: 2s;
	animation-name: slimeHide;
	animation-timing-function: ease-in-out;
}

.cookie__image {
	width: 43px;
	margin-right: 15px;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: rotating;
	animation-timing-function: linear;
}

.cookie__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #aa7758;
	margin-right: 15px;
}

.cookie__btn {
	margin: 0 auto;
	margin-bottom: 5px;

	background: #ffe6a1;

	display: inline-block;
	box-shadow: 0px 6px 0px #ffd48d;
	border-radius: 10px;
	outline: none;
	border: none;
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 25px;
	color: #aa7758;
	padding: 4px 35px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.cookie__btn:hover {
	padding: 4px 45px;
	background: #fee192;
	color: #886047;
	box-shadow: 0px 6px 0px #f3c985;
}

@keyframes rotating {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes slimeShow {
	0% {
		bottom: -100px;
	}

	70% {
		bottom: -100px;
	}

	80% {
		bottom: 30px;
	}
	90% {
		bottom: 20px;
	}
	100% {
		bottom: 25px;
	}
}

@keyframes slimeHide {
	0% {
		bottom: 25px;
	}

	10% {
		bottom: 30px;
	}

	20% {
		bottom: -100px;
	}
	100% {
		bottom: -100px;
	}
}

@media (max-width: 1600px) {
	.cookie__btn:hover {
		padding: 4px 35px;
		background: #fee192;
		color: #886047;
		box-shadow: 0px 6px 0px #f3c985;
	}
}

@media (max-width: 1000px) {
	.modal__cookie-bottom {
		width: 100%;
		flex-direction: column;
		border-radius: 0;
		bottom: -150%;
	}

	.modal__cookie-bottom-active {
		bottom: 0;
		animation-duration: 3s;
	}

	@keyframes slimeShow {
		0% {
			bottom: -100%;
		}

		70% {
			bottom: -100%;
		}

		80% {
			bottom: 20px;
		}
		90% {
			bottom: -20px;
		}
		100% {
			bottom: 0;
		}
	}

	@keyframes slimeHide {
		0% {
			bottom: 0;
		}

		10% {
			bottom: 10px;
		}

		60% {
			bottom: -150%;
		}

		100% {
			bottom: -150%;
		}
	}

	.cookie__image {
		margin-top: 10px;
		margin-bottom: 15px;
		margin-right: 0;
		width: 70px;
	}

	.cookie__text {
		font-size: 14px;
		text-align: center;
	}

	.cookie__btn {
		margin-bottom: 20px;
		margin-top: 25px;
	}
}
