* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	position: relative;
	background-color: #fff7e2;
}

.main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logo {
	font-size: 40px;
	color: #aa7758;
}

.skipped {
	color: #aa5858;
}

.accepted {
	color: #81aa58;
}

.none {
	color: #9b9b9b;
}

.title {
	color: #aa7758;
	margin-bottom: 20px;
	padding: 0 25px;
	text-align: center;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	justify-content: center;
}

.button {
	background: #ffe6a1;

	box-shadow: 0px 6px 0px #ffd48d;
	border-radius: 10px;
	outline: none;
	border: none;
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 25px;
	color: #aa7758;
	padding: 4px 35px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.button:hover {
	background: #ffde84;
	color: #886047;
	box-shadow: 0px 6px 0px #cca565;
}

.button:disabled,
.button[disabled] {
	background: #cccccc;
	color: #666666;
	box-shadow: 0px 6px 0px #979797;
}

.button--current {
	background: #ffde84;
	color: #886047;
	box-shadow: 0px 6px 0px #cca565;
}

.left-modal,
.top-modal,
.bottom-modal,
.right-modal {
	transition: all 0.3s ease-in-out;
}

.clear-cookie {
	margin-top: 40px;
	background: #cf7070;

	box-shadow: 0px 6px 0px #aa5858;
	border-radius: 10px;
	outline: none;
	border: none;
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 25px;
	color: #913a3a;
	padding: 4px 35px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.clear-cookie:hover {
	background: #ba5e5e;
	color: #7c2f2f;
	box-shadow: 0px 6px 0px #874242;
}

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	padding: 10px 25px;

	background: #fff0c6;
	border-radius: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.hidden {
	display: none;
}

.cookie-bottom {
	width: 95%;
	margin: 0 auto;
	left: 50%;
	bottom: -100px;
	transform: translate(-50%);
}

.cookie-bottom--active {
	bottom: 25px;
	animation-duration: 1s;
	animation-name: slimeShowBottom;
	animation-timing-function: ease-in-out;
}

.cookie-bottom--accepted {
	bottom: -100px;
	animation-duration: 1s;
	animation-name: slimeHideBottom;
	animation-timing-function: ease-in-out;
}

.cookie-top {
	width: 95%;
	margin: 0 auto;
	left: 50%;
	top: -100px;
	transform: translate(-50%);
}

.cookie-top--active {
	top: 25px;
	animation-duration: 1s;
	animation-name: slimeShowTop;
	animation-timing-function: ease-in-out;
}

.cookie-top--accepted {
	top: -100px;
	animation-duration: 1s;
	animation-name: slimeHideTop;
	animation-timing-function: ease-in-out;
}

.cookie-right {
	width: 300px;
	flex-direction: column;
	/*margin: 0 auto;*/
	right: -150%;
	bottom: 25px;
	padding: 25px;
}

.cookie-right--active {
	right: 25px;
	animation-duration: 1s;
	animation-name: slimeShowRight;
	animation-timing-function: ease-in-out;
}

.cookie-right--accepted {
	right: -150%;
	animation-duration: 1s;
	animation-name: slimeHideRight;
	animation-timing-function: ease-in-out;
}

.cookie-left {
	width: 300px;
	flex-direction: column;
	/*margin: 0 auto;*/
	left: -150%;
	bottom: 25px;
	padding: 25px;
}

.cookie-left .cookie__text,
.cookie-right .cookie__text {
	text-align: center;
	margin: 15px 0;
}

.cookie-left .cookie__image,
.cookie-right .cookie__image {
	width: 100px;
	margin: 0;
}

.cookie-left .modal__accept-btn,
.cookie-right .modal__accept-btn {
	margin-bottom: 10px;
	margin-top: 10px;
}

.cookie-left--active {
	left: 25px;
	animation-duration: 1s;
	animation-name: slimeShowLeft;
	animation-timing-function: ease-in-out;
}

.cookie-left--accepted {
	left: -150%;
	animation-duration: 1s;
	animation-name: slimeHideLeft;
	animation-timing-function: ease-in-out;
}

.cookie__image {
	width: 43px;
	margin-right: 15px;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: rotating;
	animation-timing-function: linear;
}

.cookie__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #aa7758;
	margin-right: 15px;
}

.modal__accept-btn {
	margin: 0 auto;
	margin-bottom: 5px;

	background: #ffe6a1;

	display: inline-block;
	box-shadow: 0px 6px 0px #ffd48d;
	border-radius: 10px;
	outline: none;
	border: none;
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 25px;
	color: #aa7758;
	padding: 4px 35px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.modal__accept-btn:hover {
	padding: 4px 45px;
	background: #fee192;
	color: #886047;
	box-shadow: 0px 6px 0px #f3c985;
}

.modal__close-btn {
	position: relative;
	width: 30px;
	height: 30px;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	margin-left: 30px;
}

.cookie-left .modal__close-btn,
.cookie-right .modal__close-btn {
	position: absolute;
	top: 15px;
	right: 15px;
}

.close {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.close::after,
.close::before {
	content: '';
	position: absolute;
	width: 20px;
	height: 4px;
	border-radius: 2px;
	background-color: #aa7758;
	transition: all 0.1s ease-in-out;
}

.close::after {
	transform: rotate(-45deg);
}

.close::before {
	transform: rotate(45deg);
}

@keyframes rotating {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes slimeShowLeft {
	0% {
		left: -150%;
	}

	50% {
		left: -100%;
	}

	80% {
		left: 30px;
	}
	90% {
		left: 20px;
	}
	100% {
		left: 25px;
	}
}

@keyframes slimeHideLeft {
	0% {
		left: 25px;
	}

	10% {
		left: 30px;
	}

	50% {
		left: -100%;
	}
	100% {
		left: -150%;
	}
}

@keyframes slimeShowRight {
	0% {
		right: -150%;
	}

	50% {
		right: -100%;
	}

	80% {
		right: 30px;
	}
	90% {
		right: 20px;
	}
	100% {
		right: 25px;
	}
}

@keyframes slimeHideRight {
	0% {
		right: 25px;
	}

	10% {
		right: 30px;
	}

	50% {
		right: -100%;
	}
	100% {
		right: -150%;
	}
}

@keyframes slimeShowBottom {
	0% {
		bottom: -100px;
	}

	70% {
		bottom: -100px;
	}

	80% {
		bottom: 30px;
	}
	90% {
		bottom: 20px;
	}
	100% {
		bottom: 25px;
	}
}

@keyframes slimeHideBottom {
	0% {
		bottom: 25px;
	}

	10% {
		bottom: 30px;
	}

	20% {
		bottom: -100px;
	}
	100% {
		bottom: -100px;
	}
}

@keyframes slimeShowTop {
	0% {
		top: -100px;
	}

	70% {
		top: -100px;
	}

	80% {
		top: 30px;
	}
	90% {
		top: 20px;
	}
	100% {
		top: 25px;
	}
}

@keyframes slimeHideTop {
	0% {
		top: 25px;
	}

	10% {
		top: 30px;
	}

	20% {
		top: -100px;
	}
	100% {
		top: -100px;
	}
}

@media (max-width: 1600px) {
	.modal__accept-btn:hover {
		padding: 4px 35px;
		background: #fee192;
		color: #886047;
		box-shadow: 0px 6px 0px #f3c985;
	}

	.cookie-left .modal__accept-btn:hover,
	.cookie-right .modal__accept-btn:hover {
		padding: 4px 45px;
	}
}

@media (max-width: 1000px) {
	.cookie-bottom {
		width: 100%;
		flex-direction: column;
		border-radius: 0;
		bottom: -150%;
	}

	.cookie-bottom--active {
		bottom: 0;
		animation-duration: 1s;
	}

	.cookie-bottom--accepted {
		bottom: -150%;
		animation-duration: 1s;
		animation-name: slimeHideBottom;
		animation-timing-function: ease-in-out;
	}

	.cookie-top {
		width: 100%;
		flex-direction: column;
		border-radius: 0;
		top: -150%;
	}

	.cookie-top--active {
		top: 0;
		animation-duration: 1s;
	}

	.cookie-top--accepted {
		top: -150%;
		animation-duration: 1s;
		animation-name: slimeHideTop;
		animation-timing-function: ease-in-out;
	}

	.cookie__image {
		margin-top: 10px;
		margin-bottom: 15px;
		margin-right: 0;
		width: 70px;
	}

	.cookie__text {
		font-size: 14px;
		text-align: center;
	}

	.modal__accept-btn {
		margin-bottom: 20px;
		margin-top: 25px;
	}

	.modal__close-btn {
		position: absolute;
		top: 15px;
		right: 15px;
	}

	@keyframes slimeShowBottom {
		0% {
			bottom: -100%;
		}

		70% {
			bottom: -100%;
		}

		80% {
			bottom: 20px;
		}
		90% {
			bottom: -20px;
		}
		100% {
			bottom: 0;
		}
	}

	@keyframes slimeHideBottom {
		0% {
			bottom: 0;
		}

		10% {
			bottom: 10px;
		}

		60% {
			bottom: -150%;
		}

		100% {
			bottom: -150%;
		}
	}

	@keyframes slimeShowTop {
		0% {
			top: -100%;
		}

		70% {
			top: -100%;
		}

		80% {
			top: 20px;
		}
		90% {
			top: -20px;
		}
		100% {
			top: 0;
		}
	}

	@keyframes slimeHideTop {
		0% {
			top: 0;
		}

		10% {
			top: 10px;
		}

		60% {
			top: -150%;
		}

		100% {
			top: -150%;
		}
	}
}

@media (max-width: 620px) {
	.buttons {
		grid-template-columns: repeat(3, 1fr);
	}

	.left-modal {
		order: 1;
	}

	.top-modal {
		order: 2;
	}

	.bottom-modal {
		order: 4;
		grid-column-start: 2;
		grid-column-end: 3;
	}

	.right-modal {
		order: 3;
	}
}

@media (max-width: 470px) {
	.buttons {
		grid-template-columns: repeat(2, 1fr);
	}

	.left-modal {
		order: 3;
	}

	.top-modal {
		order: 1;
	}

	.bottom-modal {
		order: 2;
	}

	.right-modal {
		order: 4;
		grid-column-start: auto;
		grid-column-end: auto;
	}
}

@media (max-width: 400px) {
	.logo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		line-height: 100%;
	}

	.title {
		margin-top: 20px;
	}
}

@media (max-width: 310px) {
	.buttons {
		grid-template-columns: repeat(1, 1fr);
	}
}
